/* body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #93e193;
} */
body {
  height: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
  background-color: #93e193;

}
h1 {
  display: block;
  color: #534123;
  text-decoration: none;
  text-align: center ;
  font-size: 50px ;
  font-family: "Futura", sans-serif;
  background-color: #EAE7B1;
  border-radius: 25px;
  padding: 20px;
  margin: 1rem;
}

#submit{
  text-align: center;
}

form{
  text-align: center;
  border-radius: 25px;
  background-color: #EAE7B1;
  width: 700px;
  margin:auto;
}

input{
  text-align: center;
  border-radius: 10px;
  border: thin solid green;
  padding: 10px;
}

button {
  border-radius: 40px;
  background: #1877F2;
  color: #FFFFFF;
  width: 175px;
  height: 40px;
}

/* 
#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}
 */